@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w naszym komisie Raczkooo</h1>
    <p>Projekt zaliczeniowy asp.net mvc indeks13806 Wiktor Rogoz</>.</p>
</div>
